global:
  scrape_interval: {{ scrape_interval }}
  external_labels:
    monitor: '{{ monitoring_instance }}'

scrape_configs:
{% for job in jobs %}
{% for values in job.values() %}
  - job_name: {{ values.job_name }}
    scrape_interval: {{ values.scrape_interval }}
    static_configs: 
      - targets:[
#
{% for targets in values.targets %}
{% if not loop.last %}
##
{% for targetValues in targets.values() %}
	'{{ targetValues.ip }}',
{% endfor %}
##
{% else %}
##
{% for targetValues in targets.values() %}
	'{{ targetValues.ip }}'
{% endfor %}
##
{% endif %}
{% endfor %}
#	]

{% endfor %}
{% endfor %}
